# GCSE_CS_questions

<b>Dataset:</b> https://www.kaggle.com/datasets/nicolasschleicher/gcse-cs-questions<br>
<b>Classifier code:</b> https://www.kaggle.com/code/nicolasschleicher/gcse-question-classifier

A simple classification problem.<br>
GCSE (English National Exam) Computer Science.<br><br>
160 questions that students asked about the subject.<br>

Column 1: Question<br>
The question asked<br>
Column 2: Label<br>
Each label corresponds to a section in the GCSE Computer Science Specification here file which outlines what is on the GCSE course

In [87]:
import pandas as pd
df = pd.DataFrame(pd.read_csv('questions.csv'))
df

    What do you want to know about GCSE Computer Science? Section
0           a lot of coding knowing components and etc         2c
1                                      Advanced Coding         2c
2    Average scores of people in this school who pr...        Nan
3                                  do i have to do it?        Nan
4                            do we do photoshop cause?        Nan
..                                                 ...        ...
157                       Do we learn about databases?         2a
158                           What teacher will I get?        Nan
159                                  Do I get cookies?        Nan
160                               Computers are boring        Nan
161                I will be taking technology instead        Nan

[162 rows x 2 columns]

In [88]:
# We need to remove 'Nan' and nan.
df.Section.unique()

array(['2c', 'Nan', '2d', '2e', '2a', '3a', '5a', '1b', '7', nan, '5b',
       '1a'], dtype=object)

In [89]:
df = df.dropna() # Remove nan
df = df[df.Section != 'Nan'] # Remove 'Nan'
df.Section.unique()

array(['2c', '2d', '2e', '2a', '3a', '5a', '1b', '7', '5b', '1a'],
      dtype=object)

In [90]:
df = df.reset_index(drop=True)
df

    What do you want to know about GCSE Computer Science? Section
0           a lot of coding knowing components and etc         2c
1                                      Advanced Coding         2c
2            Do we do use python or repl.it for coding         2d
3    Do we get to programme bots and stuff like tha...         2d
4    do we go through the things we did in year 7 a...         2e
..                                                 ...        ...
126  Will the course involve programmings. if yes, ...         2c
127            Will we be able to create our own apps?         2d
128  Will we learn about how people steal passwords...         2a
129  Would there be things in Computer science and ...         5b
130                       Do we learn about databases?         2a

[131 rows x 2 columns]

In [91]:
# Cleanse the text.
question_col = df.columns[0]
df[question_col] = df[question_col].apply(lambda x: x.strip('\"').rstrip('\n'))

In [92]:
df.to_csv('questions_processed.csv', index=False)